* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

:root {
    --bgColor: #e9ebee;
    --colorWhite: #fff;
    --colorBlack: #000;
}

body {
    font-family: sans-serif;
   
    background: var(--bgColor);
}

.container {
    display: flex;
    padding: 100px 250px;
    margin-left: 150px;
    margin-bottom: 50px;    
}

.right-section {
    width: 50%;
}

.text {
    margin: 10px 0;
    font-weight: normal;
    font-size: 17px;
}

.form-group {
    margin-bottom: 15px;
}

.control {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 4px;
    border:1px solid #bdc7d8 ;
    width: 100%;
}

.half {
    width: 48%;
}

.half:nth-child(2){
    margin-left: 2%;
}

.birth {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

select {
    padding: 5px 10px;
}

.someText {
    font-size: 13px;
    width: 80%;
    color: #777;
}

.btn {
    font-size: 19px;
    font-weight: bold;
    min-width: 194px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin: 10px 0px;
    padding: 10px 20px;
    background: linear-gradient(#67ae55,#578843);
    border: 0;
    color: var(--colorWhite);
}

@media(max-width: 765px){
    

    .container {
        flex-direction: column;
        padding: 30px 50px;
    }

     .right-section {
        width: 100%;
    }
}